.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    z-index: 999;
}


.header_left {
    display: flex;
}


.header_left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}


.header_search {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header_search > input {
    outline: none;
    border: none;
    background: none;

}


.header_right {
    display: flex;
}



.header_logout {
    color: gray;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-top: 15px;
}


.header_logout:hover {
    color: black
}



.avatar {
    display: flex;
    margin-left: 15px;
    cursor: pointer;
}

.avatar:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
