.sidebar {
    top: 80px;
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    border-color: 2px solid rgb(211, 211, 211);
    height: fit-content;
}


.sidebar_avatar {
    margin-bottom: 10px;
}


.sidebar_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: aqua;
    padding-bottom: 10px;
}


.sidebar_top > h4 {
   color: gray; 
   font-size: 12px;
}



.sidebar_top > h2 {
    font-size: 18px;
}


.sidebar_top > img {
    margin-bottom: -20px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}


.sidebar_stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.sidebar_stat {
    color: green;
    font-size: 13px;
    font-weight: 400;
}



.sidebar_statNumber {
    font-weight: bold;
    color: blue;
}



.sidebar_status {
    background-color: pink;
    padding: 10px;
    border-radius: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar_bottom {
    background-color: white;
    text-align: left;
    border: 1px solid aqua;
    border-radius: 10px;
    margin-top: 10px;
}



.sidebar_bottom > p {
    font-size: 13px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
}


.sidebar_recentItem {
    display: flex;
    color: gray;
    font-size: 13px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px;
}

.sidebar_recentItem:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}



.sidebar_hash {
    margin-right: 10px;
    margin-left: 5px;
}